<div class="col-md-5">
    <div class="form-group">
        <input class="form-control" type="text" ng-model="make" placeholder="Make" />
        <input class="form-control" type="text" ng-model="model" placeholder="Model" />
        <input class="form-control" type="text" ng-model="year" placeholder="Year" />
        <input class="form-control" type="text" ng-model="image" placeholder="Image" />
        <textarea class="form-control" ng-model="problem" placeholder="Problem"></textarea>
        <button class="btn btn-success" ng-click="addCar()">Submit</button><br />
    </div>
</div>