<div class="container">
    <h3>{{car.year}} {{car.make}} {{car.model}}</h3>
    <img class='img-thumbnail img-responsive' style='height:200px; width:300px;' ng-hide="editing" ng-src="{{car.image}}" /><br />
    <p ng-hide="editing">{{car.problem}}</p>
    <input class="input-sm" type="text" ng-show="editing" ng-model="car.image" placeholder="Image" />
    <textarea class="form-control" ng-show="editing" ng-model="car.problem" placeholder="Enter Problem"></textarea><br />   
    <button ng-hide="editing" class="btn btn-warning btn-sm" ng-click="editing='true'">Edit</button>
    <button ng-show="editing" class="btn btn-success btn-sm" ng-click="editing='false'">Save</button>
</div>